body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Mali", cursive;
}

#userform {
  background-color: #f3f2ef;
  border-radius: 3px;
  width: 500px;
  /* height: 100px; */
  height: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

form#new-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label#new-user-label {
  align-self: center;
}

input#new-user {
  height: 50px;
  width: 350px;
  font-size: 1.1rem;
}

button {
  height: 50px;
  font-size: 1.35rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* form#new-user {
  display: flex;
  flex-direction: column;
} */
/* form#new-user {
  padding: 30px;
}
#new-user-label {
  margin: auto;
  width: 100px;
  height: 100px;
} */
